:root {
  --primary-color: #e50914;
  --dark-color: #141414;
  --light-color: #f4f4f4; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

body {
  margin: 0;
  padding: 0; }

.card0 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(90deg, #090979 0%, rgba(220, 220, 228, 0) 0%, rgba(10, 10, 10, 0.527048) 0%), url(../img/netflex1.jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem; }

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5rem; }

.search-buttom {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.heading-tritury {
  color: #f4f4f4;
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 300px;
  text-align: center;
  letter-spacing: 3px;
  padding-top: 5rem;
  padding-bottom: 1rem; }

.heading-primary-main {
  color: #f4f4f4;
  text-transform: capitalize;
  margin: 0 auto;
  padding: 0 5%;
  font-size: 57px;
  font-weight: 700;
  margin: -34px;
  max-width: 800px;
  line-height: 74.5px;
  letter-spacing: 3px;
  text-align: center; }

.heading-primary-sub-1 {
  color: #f4f4f4;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 3px;
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  margin-top: -50px;
  text-align: center; }

.btn-email {
  padding: 0.5rem 1.2rem;
  font-size: 2rem;
  text-transform: uppercase;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center; }

.email {
  bottom: -8vh;
  width: 454px;
  height: 3rem;
  font-size: 1rem;
  padding-left: 0.5rem; }

.get {
  height: 3rem;
  width: 200px;
  font-size: 1rem;
  background: var(--primary-color);
  color: #f4f4f4;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; }

.logo {
  height: 125px;
  width: 230px; }

.btn-log {
  height: 10px;
  width: auto;
  background-color: #e50914;
  font-size: 1.5rem;
  line-height: normal;
  color: white;
  border-radius: 10%;
  cursor: pointer;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  text-decoration: none; }

@media screen and (max-width: 1200px) {
  .card0 {
    height: 107vh;
    width: 100%;
    background-image: linear-gradient(90deg, #090979 0%, rgba(220, 220, 228, 0) 0%, rgba(10, 10, 10, 0.527048) 0%), url(../img/netflex1.jpg);
    background-position: top;
    background-size: cover; }
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .search-buttom {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .heading-tritury {
    color: #f4f4f4;
    text-transform: capitalize;
    font-size: 1.4rem;
    letter-spacing: 3px;
    padding-top: 0rem;
    padding-bottom: 1rem; }
  .heading-primary-main {
    color: #f4f4f4;
    text-transform: capitalize;
    margin: 0 auto;
    padding: 0 5%;
    font-size: 57px;
    font-weight: 700;
    margin: -34px;
    max-width: 800px;
    line-height: 74.5px;
    letter-spacing: 3px;
    text-align: center; }
  .heading-primary-sub-1 {
    color: #f4f4f4;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 3px;
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    margin-top: -50px;
    text-align: center; }
  .btn-email {
    bottom: -8vh;
    padding: 0.5rem 1.2rem;
    font-size: 2rem;
    text-transform: uppercase;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    outline: none; }
  .email {
    bottom: -8vh;
    width: 454px;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    margin-left: 5rem; }
  .header {
    padding: 0 20px; }
  .btn-log {
    height: 10px;
    width: auto;
    background-color: #e50914;
    font-size: 1.5rem;
    line-height: normal;
    color: white;
    border-radius: 10%;
    cursor: pointer;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    text-decoration: none; } }

@media screen and (max-width: 900px) {
  .get {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    outline: none; }
  .email {
    width: 454px;
    height: 40px;
    font-size: 1rem;
    padding-left: 0.5rem; } }

@media screen and (max-width: 768px) {
  .card0 {
    height: 107vh;
    width: 100%;
    background-image: linear-gradient(90deg, #090979 0%, rgba(220, 220, 228, 0) 0%, rgba(10, 10, 10, 0.527048) 0%), url(../img/netflex1.jpg);
    background-position: top;
    background-size: cover; }
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .search-buttom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -10rem; }
  .heading-tritury {
    color: #f4f4f4;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 1px;
    padding-top: 0rem;
    padding-bottom: 1rem; }
  .heading-primary-main {
    color: #f4f4f4;
    text-transform: capitalize;
    padding: 0 5%;
    font-size: 40px;
    font-weight: 700;
    max-width: 800px;
    line-height: 61px;
    letter-spacing: 1px;
    text-align: center; }
  .heading-primary-sub-1 {
    color: #f4f4f4;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center; }
  .get {
    padding: 0.5rem 0.2rem;
    font-size: 1rem;
    text-transform: uppercase;
    height: 2rem;
    width: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    outline: none; }
  .email {
    width: 27%;
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    margin-left: 10rem; }
  .header {
    padding: 0 20px; }
  .logo {
    height: 82px;
    width: 157px; }
  .btn-log {
    font-size: 1rem;
    padding: 12px 9px;
    border-radius: 5%;
    display: flex;
    align-items: center;
    text-decoration: none; } }

@media screen and (max-width: 480px) {
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .search-buttom {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .heading-tritury {
    color: #f4f4f4;
    text-transform: capitalize;
    font-size: 0.5rem;
    font-weight: 300px;
    letter-spacing: 1px;
    padding-bottom: 1rem; }
  .heading-primary-main {
    color: #f4f4f4;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400px;
    max-width: 400px;
    line-height: 37.5px;
    letter-spacing: 1px;
    text-align: center; }
  .heading-primary-sub-1 {
    color: #f4f4f4;
    text-transform: capitalize;
    font-weight: 300px;
    letter-spacing: 1px;
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    text-align: center; }
  .search-buttom {
    display: flex;
    padding-left: 4rem;
    padding-right: 2rem;
    justify-content: center; }
  .get {
    padding: 0.5rem 0.2rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    height: 32px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    outline: none; }
  .email {
    width: auto;
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.5rem; }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; }
  .logo {
    height: 50px;
    width: 80px; }
  .btn-log {
    height: 10px;
    width: auto;
    background-color: #e50914;
    font-size: 0.8rem;
    line-height: normal;
    color: white;
    border-radius: 10%;
    cursor: pointer;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    text-decoration: none; } }

@media screen and (max-width: 360px) {
  .search-buttom {
    display: none; }
  .get {
    padding: 0.5rem 0.1rem;
    font-size: 0.5rem;
    text-transform: uppercase;
    height: 32px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: #f4f4f4;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    outline: none; }
  .email {
    width: auto;
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.5rem; } }

.footer {
  overflow: hidden;
  border-top: 8px solid #454545;
  padding: 50px;
  height: 45vh;
  background-color: black;
  width: 100%; }

.footer-divider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.footer-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
  color: #454545;
  list-style-type: none; }

.top-paragraph {
  color: #454545;
  text-align: left;
  padding-bottom: -1%;
  margin-bottom: -5rem;
  font-size: 1.4rem;
  text-transform: capitalize; }

.bottom-paragraph {
  color: #454545;
  text-align: left;
  padding-bottom: -1%;
  margin-bottom: -5rem;
  font-size: 1rem;
  text-transform: capitalize; }

.footer-link {
  width: 25%;
  padding: 30px;
  text-decoration: none;
  list-style-type: none; }

a {
  list-style-type: none;
  text-decoration: none;
  color: #454545; }

@media only screen and (max-width: 1200px) {
  .footer {
    border-top: 8px solid #454545;
    height: 90vh;
    background-color: black; }
  .paragraph {
    padding: 1px;
    transform: translate(0px, 30px); }
  .footer-ul {
    color: #454545;
    list-style-type: none; }
  .top-paragraph {
    padding-bottom: -1%;
    margin-bottom: -5rem;
    font-size: 1.4rem; }
  .bottom-paragraph {
    color: #454545;
    text-align: left;
    font-size: 1rem;
    text-transform: capitalize; }
  .footer-link {
    margin: auto;
    width: 25%;
    margin: 30px;
    text-decoration: none;
    list-style-type: none; }
  a {
    list-style-type: none;
    text-decoration: none;
    color: #454545; } }

@media screen and (max-width: 768px) {
  .footer {
    overflow: hidden;
    border-top: 8px solid #454545;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    color: #454545;
    list-style-type: none; }
  .top-paragraph {
    color: #454545;
    text-align: left;
    font-size: 1.4rem;
    text-transform: capitalize; }
  .footer-link {
    width: 25%;
    text-decoration: none;
    list-style-type: none; }
  a {
    list-style-type: none;
    text-decoration: none;
    color: #454545; } }

@media screen and (max-width: 480px) {
  .footer {
    border-top: 8px solid #454545;
    height: 64vh;
    background-color: black; }
  .footer-divider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    color: #454545;
    list-style-type: none; }
  .top-paragraph {
    color: #454545;
    text-align: left;
    padding-bottom: -1%;
    margin-bottom: -5rem;
    font-size: 1.4rem;
    text-transform: capitalize; }
  .bottom-paragraph {
    color: #454545;
    text-align: left;
    padding-bottom: -1%;
    margin-bottom: -5rem;
    font-size: 1rem;
    text-transform: capitalize; }
  .footer-link {
    width: 25%;
    text-decoration: none;
    list-style-type: none; }
  a {
    list-style-type: none;
    text-decoration: none;
    color: #454545; } }

.card-1 {
  border-top: 8px solid #454545;
  height: 70vh;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem; }
  @media screen and (max-width: 950px) {
    .card-1 {
      display: flex;
      flex-direction: column;
      height: auto; } }

.heading {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: left; }
  @media screen and (max-width: 950px) {
    .heading {
      text-align: center; } }

.heading-first {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 0.5rem;
  padding-left: 1rem;
  color: #f4f4f4; }
  @media screen and (max-width: 950px) {
    .heading-first {
      font-size: 30px; } }
  @media screen and (max-width: 768px) {
    .heading-first {
      font-size: 34px; } }
  @media screen and (max-width: 550px) {
    .heading-first {
      font-size: 34px; } }

.heading-second {
  color: #f4f4f4;
  text-transform: capitalize;
  font-size: 19.2px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem; }
  @media screen and (max-width: 950px) {
    .heading-second {
      font-size: 15px; } }

.img-video {
  display: flex;
  flex-grow: 2; }

.tv {
  height: 26rem;
  width: 35rem;
  position: relative;
  z-index: 99999999;
  padding: auto; }
  @media screen and (max-width: 900px) {
    .tv {
      height: 20rem;
      width: 25rem; } }
  @media screen and (max-width: 500px) {
    .tv {
      height: 12rem;
      width: 15rem; } }

.card-video {
  height: 30rem;
  width: 30rem;
  padding: auto;
  position: absolute; }
  @media screen and (max-width: 900px) {
    .card-video {
      height: 19.2rem;
      width: 19rem; } }
  @media screen and (max-width: 500px) {
    .card-video {
      height: 12rem;
      width: 11rem; } }

.card-2 {
  border-top: 8px solid #454545;
  height: 70vh;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 950px) {
    .card-2 {
      display: flex;
      flex-direction: column-reverse;
      height: 150vh; } }

.mobile-pic {
  height: 70%;
  width: 85%; }
  @media screen and (max-width: 600px) {
    .mobile-pic {
      height: 50%; } }

.heading-1 {
  font-size: 57px;
  font-weight: 700;
  max-width: 800px;
  line-height: 74.5px;
  letter-spacing: 3px; }
  @media screen and (max-width: 950px) {
    .heading-1 {
      text-align: center; } }

.heading-m1 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
  padding-top: 0.5rem;
  padding-left: 1rem;
  color: #f4f4f4; }
  @media screen and (max-width: 900px) {
    .heading-m1 {
      font-size: 30px;
      font-weight: 600; } }

.heading-m2 {
  color: #f4f4f4;
  text-transform: capitalize;
  font-size: 19.2px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-top: 0.5rem;
  padding-left: 1rem; }
  @media screen and (max-width: 900px) {
    .heading-m2 {
      font-size: 15px; } }

.card-3 {
  border-top: 8px solid #454545;
  padding: 50px;
  height: 70vh;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 900px) {
    .card-3 {
      display: flex;
      flex-direction: column; } }

.img-video {
  display: flex;
  flex-grow: 1;
  padding-right: 4rem;
  justify-content: center; }

.tv2 {
  height: 30rem;
  width: 35rem;
  position: relative;
  z-index: 99999999; }
  @media screen and (max-width: 1200px) {
    .tv2 {
      height: 20rem;
      width: 25rem; } }
  @media screen and (max-width: 500px) {
    .tv2 {
      height: 13rem;
      width: 18rem; } }

.card-video2 {
  height: 19rem;
  width: 22rem;
  position: absolute; }
  @media screen and (max-width: 1200px) {
    .card-video2 {
      height: 14rem;
      width: 16rem; } }
  @media screen and (max-width: 500px) {
    .card-video2 {
      height: 9rem;
      width: 11rem; } }

.card-4 {
  border-top: 8px solid #454545;
  padding: 50px;
  height: 70vh;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 900px) {
    .card-4 {
      display: flex;
      flex-direction: column-reverse;
      height: 100vh; } }

.heading-2 {
  color: #f4f4f4;
  text-transform: capitalize;
  text-align: left; }
  @media screen and (max-width: 900px) {
    .heading-2 {
      text-align: center; } }

.heading-first-1 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3px;
  padding-top: 0.5rem;
  color: #f4f4f4; }
  @media screen and (max-width: 900px) {
    .heading-first-1 {
      font-size: 30px; } }

.heading-second-1 {
  color: #f4f4f4;
  text-transform: capitalize;
  font-size: 19.2px;
  font-weight: 300;
  letter-spacing: 3px;
  padding-top: 0.5rem;
  padding-bottom: 1rem; }
  @media screen and (max-width: 900px) {
    .heading-second-1 {
      font-size: 15px; } }

.netflix-2 {
  height: 70%;
  width: 90%; }

.card-5 {
  border-top: 8px solid #454545;
  height: 110vh;
  width: 100%;
  background-color: black; }

.text-box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.heading-4 {
  color: #f4f4f4;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 700;
  width: auto;
  letter-spacing: 3px;
  text-align: center;
  padding: 4px 0; }

.button {
  height: 50px;
  width: 850px;
  display: flex;
  flex-direction: column;
  gap: 7px; }

.btn-full-1,
.btn-full-2,
.btn-full-3,
.btn-full-4,
.btn-full-5,
.btn-full-6 {
  border: 0;
  font-weight: 400;
  padding: 1.5em 2.2em 0.8em 1.2em;
  width: 100%;
  text-align: left;
  background-color: #454545;
  color: #f4f4f4;
  font-size: 1rem; }

.plus-icon {
  height: auto;
  width: 3%;
  z-index: 999;
  display: flex;
  color: #f4f4f4; }

.searching {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  transform: translate(5px, 363px); }

.heading-5 {
  color: #f4f4f4;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5rem;
  text-align: center;
  transform: translate(5px, 348px); }

.email-2 {
  width: 644px;
  height: 2.4rem;
  font-size: 1rem; }

.btn-email-2 {
  background: var(--primary-color);
  color: #f4f4f4;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  height: 2.4rem;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45); }

@media only screen and (max-width: 1200px) {
  .text-box-1 {
    height: 20vh;
    width: 100%; }
  .heading-4 {
    color: #f4f4f4;
    text-transform: capitalize;
    font-size: 50px;
    font-weight: 700;
    max-width: 800px;
    line-height: 74.5px;
    letter-spacing: 3px;
    text-align: center; }
  .heading-5 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.3rem;
    width: auto; }
  .button {
    padding: -2rem;
    width: 850px; }
  .btn-full-1,
  .btn-full-2,
  .btn-full-3,
  .btn-full-4,
  .btn-full-5,
  .btn-full-6 {
    padding: 1.5em 2.2em 0.8em 1.2em;
    width: 100%;
    font-size: 1rem; }
  .email-2 {
    width: 644px;
    height: 2.4rem;
    font-size: 1rem; }
  .btn-email-2 {
    background: var(--primary-color);
    color: #f4f4f4;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    height: 2.4rem;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45); } }

@media only screen and (max-width: 900px) {
  .text-box-1 {
    height: 20vh;
    width: 100%; }
  .heading-4 {
    color: #f4f4f4;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    max-width: 800px;
    line-height: 74.5px;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 2rem; }
  .heading-5 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.3rem; }
  .button {
    padding: -2rem;
    width: 400px; }
  .btn-full-1,
  .btn-full-2,
  .btn-full-3,
  .btn-full-4,
  .btn-full-5,
  .btn-full-6 {
    padding: 1.5em 2.2em 0.8em 1.2em;
    width: 100%;
    font-size: 1rem; }
  .email-2 {
    width: 460px;
    height: 2.4rem;
    font-size: 1rem; }
  .btn-email-2 {
    background: var(--primary-color);
    color: #f4f4f4;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    height: 2.4rem;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45); } }

@media screen and (max-width: 768px) {
  .button {
    height: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 7px; }
  .btn-full-1,
  .btn-full-2,
  .btn-full-3,
  .btn-full-4,
  .btn-full-5,
  .btn-full-6 {
    border: 0;
    font-weight: 400;
    padding: 1.5em 2.2em 0.8em 1.2em;
    width: 100%;
    text-align: left;
    background-color: #454545;
    color: #f4f4f4;
    font-size: 1rem; }
  .searching {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: translate(5px, 363px); }
  .heading-5 {
    color: #f4f4f4;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1rem;
    text-align: center;
    transform: translate(0px, 356px); }
  .email-2 {
    width: 516px;
    height: 1.9rem;
    font-size: 1rem; }
  .btn-email-2 {
    background: var(--primary-color);
    color: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    height: 2rem;
    width: 516px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45); } }

@media screen and (max-width: 600px) {
  .email-2 {
    width: 300px;
    height: 1.9rem;
    font-size: 1rem; }
  .btn-email-2 {
    background: var(--primary-color);
    color: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    height: 2rem;
    width: 300px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45); } }

@media screen and (max-width: 480px) {
  .text-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .button {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px; }
  .btn-full-1,
  .btn-full-2,
  .btn-full-3,
  .btn-full-4,
  .btn-full-5,
  .btn-full-6 {
    border: 0;
    height: 37px;
    font-weight: 400;
    padding: 1em 2.2em 0.8em 1.2em;
    width: 56%;
    text-align: left;
    background-color: #454545;
    color: #f4f4f4;
    font-size: 0.7rem; }
  .plus-icon {
    height: auto;
    width: 3%;
    z-index: 999;
    display: flex;
    color: #f4f4f4; }
  .searching {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translate(0px, 253px); }
  .heading-5 {
    color: #f4f4f4;
    text-transform: capitalize;
    font-weight: 400px;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-align: center;
    transform: translate(0px, 222px); }
  .email-2 {
    width: 150px;
    height: 1.9rem;
    font-size: 1rem; }
  .btn-email-2 {
    background: var(--primary-color);
    color: #f4f4f4;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    height: 2rem;
    width: 150px;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.45); } }
