.card-2 {
    border-top: 8px solid rgba(69, 69, 69, 69);
    height: 70vh;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 950px) {
        display: flex;
        flex-direction: column-reverse;
        height: 150vh;
    }

}



.mobile-pic {
    height: 70%;
    width: 85%;

    @media screen and (max-width: 600px) {
        height: 50%;
    }
}

.heading-1 {
    font-size: 57px;
    font-weight: 700;
    max-width: 800px;
    line-height: 74.5px;
    letter-spacing: 3px;

    @media screen and (max-width: 950px) {
        text-align: center;
    }
}

.heading-m1 {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    padding-top: 0.5rem;
    padding-left: 1rem;
    color: #f4f4f4;

    @media screen and (max-width: 900px) {
        font-size: 30px;
        font-weight: 600;
    }
}

.heading-m2 {
    color: #f4f4f4;
    text-transform: capitalize;
    font-size: 19.2px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 0.5rem;
    padding-left: 1rem;

    @media screen and (max-width: 900px) {
        font-size: 15px;
    }
}