.card-1 {
    border-top: 8px solid rgba(69, 69, 69, 69);
    height: 70vh;
    background-color: black;
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;


    @media screen and (max-width: 950px) {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

.heading {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: left;

    @media screen and (max-width: 950px) {
        text-align: center;
    }

}

.heading-first {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 0.5rem;
    padding-left: 1rem;
    color: #f4f4f4;


    @media screen and (max-width: 950px) {
        font-size: 30px;
    }

    @media screen and (max-width: 768px) {
        font-size: 34px;
    }

    @media screen and (max-width: 550px) {
        font-size: 34px;
    }
}

.heading-second {
    color: #f4f4f4;
    text-transform: capitalize;
    font-size: 19.2px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;

    @media screen and (max-width: 950px) {
        font-size: 15px;
    }
}

.img-video {
    display: flex;
    flex-grow: 2;
}

.tv {
    height: 26rem;
    width: 35rem;
    position: relative;
    z-index: 99999999;
    padding: auto;

    @media screen and (max-width: 900px) {
        height: 20rem;
        width: 25rem;
    }

    @media screen and (max-width: 500px) {
        height: 12rem;
        width: 15rem;
    }



}


.card-video {
    height: 30rem;
    width: 30rem;
    padding: auto;
    position: absolute;


    @media screen and (max-width: 900px) {
        height: 19.2rem;
        width: 19rem;
    }

    @media screen and (max-width: 500px) {
        height: 12rem;
        width: 11rem;
    }

}