.card-3 {
    border-top: 8px solid rgba(69, 69, 69, 69);
    padding: 50px;
    height: 70vh;
    background-color: black;
    min-width: 600px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-video {
    display: flex;
    flex-direction: column;

}

.device {
    height: 100%;
    width: 70%;
    transform: translate(10px, 70px);
    z-index: 99;
}

.video-1 {
    height: 100%;
    width: 43%;
    transform: translate(7px, -228px);
    z-index: 1;

}

@media screen and (max-width:1200px) {
    .device {
        height: 100%;
        width: 70%;
        transform: translate(10px, 70px);
        z-index: 99;
    }

    .video-1 {
        height: 100%;
        width: 43%;
        transform: translate(7px, -160px);
        z-index: 1;

    }
}

@media screen and (max-width:1024px) {
    .device {
        height: 100%;
        width: 70%;
        transform: translate(10px, 70px);
        z-index: 99;
    }

    .video-1 {
        height: 100%;
        width: 45%;
        transform: translate(7px, -116px);
        z-index: 1;

    }
}

@media screen and (max-width:768px) {
    .device {
        height: 100%;
        width: 70%;
        transform: translate(10px, 70px);
        z-index: 99;
    }

    .video-1 {
        height: 100%;
        width: 44%;
        transform: translate(9px, -80px);
        z-index: 1;

    }
}

@media screen and (max-width:480px) {
    .card-3 {
        border-top: 8px solid rgba(69, 69, 69, 69);
        padding: 50px;
        height: 124vh;
        background-color: black;
        min-width: 664px;

        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;
    }

    .img-video {
        display: flex;
        flex-direction: column;

    }

    .device {
        height: 100%;
        width: 70%;
        transform: translate(10px, 70px);
        z-index: 99;
    }

    .video-1 {
        height: 100%;
        width: 43%;
        transform: translate(7px, -191px);
        z-index: 1;

    }
}