.card-3 {
    border-top: 8px solid rgba(69, 69, 69, 69);
    padding: 50px;
    height: 70vh;
    background-color: black;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
    }
}

.img-video {
    display: flex;
    flex-grow: 1;
    padding-right: 4rem;
    justify-content: center;
}

.tv2 {
    height: 30rem;
    width: 35rem;
    position: relative;
    z-index: 99999999;

    @media screen and (max-width: 1200px) {
        height: 20rem;
        width: 25rem;
    }

    @media screen and (max-width: 500px) {
        height: 13rem;
        width: 18rem;
    }




}

.card-video2 {
    height: 19rem;
    width: 22rem;
    position: absolute;

    @media screen and (max-width: 1200px) {
        height: 14rem;
        width: 16rem;
    }

    @media screen and (max-width: 500px) {
        height: 9rem;
        width: 11rem;
    }



}